.cache
.DS_Store
.env
.env.* !.env.example
.fleet
.husky
.idea
.nitro
.output
.pnp
.pnp.js
.vercel
*.local
*.log
*.njsproj
*.ntvs*
*.pem
*.sln
*.suo
*.sw?
*.tsbuildinfo
bin
build
coverage
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
obj
out
pnpm-debug.log*
TODO.md
yarn-debug.log*
yarn-error.log*
