@use "../../styles" as *;

.screen_area {
  background-color: #000;
  width: 609px;
  height: 336px;
  padding: 20.86px 37px 19.7px 36px;
}

.screen {
  width: 536px;
  height: 295.45px;
  background-color: #fff;
}
