@use "../../styles" as *;

.label {
  position: absolute;
  transform: translate(100px, 196px);
  font-size: 34px;
  letter-spacing: 0.5px;
  animation: $fast-pulse;
  font-family: $screen-font, $default-font;
}
