@use "../../styles" as *;

.button {
  width: 55px;
  height: 35px;
  background-color: $black;
  border-radius: 6px;
  color: $white;
  box-shadow: inset -3px -3px 0 1px rgb(12 12 12 / 80%);
  transition: all cubic-bezier(.4, 0, .2, 1) 0.1s;
  display: flex;
  padding-left: 3px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  line-height: 1.5;

  &:active {
    box-shadow: inset 1px 1px 0 1px rgb(12 12 12 / 80%);
    padding-left: 6px;
    padding-top: 2px;
  }
}
